*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*fill the corner*/
    }

.img {
background: url(https://wallpaperaccess.com/full/3734604.jpg);
background-position: center;
height: 100%;
background-size: cover;

}

.img::after{
position: absolute;
content:'' ;
top: 0;
left: 0;
height: 100%;
width: 100%;
background: rgba(0, 0, 0, 0.7);

}
.content{
top: 50%;
left: 50%;
text-align: center;
padding: 60px  32px;
width: 370px;
background: rgba(255, 255,255, 0.04);
box-shadow:-1px 4px 28px 0px rgba(0,0,0,0.75 ); /* for althel*/
z-index: 9;
transform: translate(-50%, -50%);
position: absolute;
}
.content h2 {
color: white;
font-size: 30px;
margin: 0 0 35px 0;

}
.filed{
position: relative;
height: 45px;
width: 100%;
display: flex;
background: rgba(255, 255,255, 0.94);
}

.filed input{
    height: 100%;
    width: 100%;
    color: #222;
    font-size: 20px;
    text-align: end;
    margin-right:10px ;
    background: transparent; 
   border: none;
outline: none;
}
.space{
    margin-top: 16px;

}
.show{
    position: absolute;
    left: 12px;
    font-size: 12px;
    color: #222;
    font-weight: 700;
    cursor: pointer;
}
.pass-kye:void .show{
    display: block;

}
.filed span{
    width: 40px;
    line-height: 45px;
}
.filed1 input[type="submit"]{
    background: #4180ab;
    border: 8px solid #407ca5;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.filed1 input[type="submit"]:hover{
    background: #3f7294;
}
.filed1 input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    color: #222;
    margin-top: 30px;
    font-size: 16px;
}
.signup{
    color: white;
    margin-top: 20px;

}
.signup a{
    color: #3498db;
    text-decoration: none; /* the line under sign in */

}
